@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&family=Outfit:wght@300;400;600;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* navbar */
nav {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.nav-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-container__title {
  flex: 1;
}

.nav-logo {
  width: 2rem;
  height: auto;
  display: inline-block;
  background-color: #458ff6;
  text-decoration: none;
  border-radius: 100%;
  font-size: 1.62rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-right: 0.5rem;
}

.nav-title {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #233348;
}

#check {
  display: none;
}

.nav-icon {
  display: none;
}

.nav-menu {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.nav-menu__item {
  max-width: max-content;
  list-style: none;
}

.nav-menu__link {
  font-size: 1.12rem;
  opacity: 0.5;
  color: #1f1534;
  text-decoration: none;
}
.nav-menu__link:hover {
  color: #458ff6;
  font-weight: bold;
  opacity: 1;
}

/* hero section */
.hero {
  margin-top: 5.25rem;
}

.hero-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.hero-container__text {
  width: 28.4rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-description {
  width: 100%;
  color: #7d7987;
  margin-top: 1.5rem;
  font-weight: 300;
  font-size: 1.3rem;
}

.hero-button {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 2rem;
  margin-top: 2.5rem;
  background-color: #458ff6;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.hero-button:hover {
  box-shadow: 0 0 15px rgba(69, 143, 246, 1);
  transform: scale(1.1);
}

.nav-container__img {
  display: flex;
  justify-content: flex-end;
}

.hero-img {
  width: 37rem;
  height: auto;
}

/* services section */
.service {
  margin-top: 13.42rem;
}

.service-container {
  width: 80%;
  margin: auto;
}

.service-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.service-description {
  font-size: 1.12rem;
  line-height: 1.87rem;
  text-align: center;
  margin-top: 1.6rem;
}

.service-container__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem;
}

.service-list {
  width: 21.5rem;
  height: 22rem;
  text-align: center;
}

.service-list__img {
  height: 90px;
  margin-top: 1.3rem;
}

.service-list__title {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.service-list__desc {
  font-size: 1rem;
  line-height: 1.75rem;
}

.service-button {
  display: block;
  margin: auto;
  width: 12.5rem;
  height: 3.5rem;
  cursor: pointer;
  border: 1px solid #458ff6;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #fff;
  transition-duration: 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.service-button:hover {
  box-shadow: 0 0 15px rgba(69, 143, 246, 1);
  transform: scale(1.1);
}

/* desc section */
.desc {
  margin-top: 12.8rem;
}

.desc-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.desc-img {
  width: 37rem;
}

.desc-container__text {
  width: 30rem;
}

.desc-title {
  font-size: 3rem;
  line-height: 4rem;
}

.desc-line {
  width: 3.5rem;
  border: 2px solid #000;
  margin-top: 1.6rem;
}

.desc-text {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #7d7987;
  margin-top: 1.5rem;
}

.desc-button {
  margin: auto;
  margin-top: 2.5rem;
  width: 12.5rem;
  height: 3.5rem;
  cursor: pointer;
  border: 1px solid #458ff6;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #fff;
  transition-duration: 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.desc-button:hover {
  box-shadow: 0 0 15px rgba(69, 143, 246, 1);
  transform: scale(1.1);
}

/* testimonial section */

.testimonial {
  width: 80%;
  margin: auto;
  margin-top: 16.6rem;
}

.testimonial-container {
  width: 100%;
  height: 26.5rem;
  border-radius: 1.5rem;
  position: relative;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}

.testimonial-title {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 1.6rem;
}

.testimonial-line {
  display: block;
  width: 3rem;
  border: 2px solid #fff;
  margin: auto;
}

.testimonial-container__content {
  display: flex;
  align-items: center;
  margin: 5.6rem auto 0 auto;
  width: 80%;
}

.testimonial-container__avatar {
  display: flex;
  width: 8.8rem;
  width: 8.8rem;
  background-color: #fff;
  border-radius: 100%;
}

.testimonial-avatar {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  margin: auto;
}

.testimonial-container__text {
  flex: 1;
  margin-left: 1.8rem;
}

.testimonial-name {
  font-size: 1.37rem;
  color: #fff;
  line-height: 3rem;
}

.testimonial-position {
  font-size: 1.12rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 3rem;
}

.testimonial-container__desc {
  width: 26.2rem;
  flex: 1.2;
  font-size: 1.18rem;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.87rem;
  text-align: justify;
}

/* article section */
article {
  width: 80%;
  margin: auto;
  margin-top: 13.5em;
}

.article-container {
  width: 100%;
  height: 50.6rem;
}

.article-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.article-line {
  width: 3.5rem;
  border: 2px solid #000;
  margin: auto;
}

.article-container__content {
  display: flex;
  justify-content: space-between;
  margin-top: 4.9rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  width: 21.8rem;
  height: 32rem;
}

.article-content__title {
  font-size: 1.3rem;
  line-height: 2rem;
}

.article-content__desc {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #7d7987;
  margin-top: 0.75rem;
}

.article-container__link {
  display: flex;
  text-align: center;
  margin-top: 1.5rem;
}

.article-link {
  font-size: 1.1rem;
  color: #4089ed;
  text-decoration: none;
  margin-right: 0.5rem;
}

.article-icon {
  font-size: 1.1rem;
  color: #4089ed;
  margin: auto 0;
}

.article-button {
  display: block;
  margin: auto;
  margin-top: 2.5rem;
  width: 12.5rem;
  height: 3.5rem;
  cursor: pointer;
  border: 1px solid #458ff6;
  border-radius: 2rem;
  color: #458ff6;
  background-color: #fff;
  transition-duration: 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.article-button:hover {
  box-shadow: 0 0 15px rgba(69, 143, 246, 1);
  transform: scale(1.1);
}

/* footer section */
footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 27rem;
  background: linear-gradient(208.18deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.footer-container__text {
  flex: 2;
  margin-right: 1rem;
}

.footer-logo {
  width: 2rem;
  height: auto;
  display: inline-block;
  background-color: #458ff6;
  text-decoration: none;
  border-radius: 100%;
  font-size: 1.62rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-right: 0.5rem;
}

.footer-title {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.footer-desc {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.75rem;
  margin-top: 1.37rem;
}

.footer-copyright {
  font-size: 1rem;
  color: #fff;
  line-height: 1.75rem;
  margin-top: 1.93rem;
}

.footer-list {
  flex: 1;
  list-style: none;
}

.footer-list__title {
  font-size: 1.25rem;
  margin: 10px 0;
  font-weight: bold;
  color: #fff;
}

.footer-link {
  font-size: 1.12rem;
  color: #fff;
  line-height: 3rem;
  text-decoration: none;
}

/* on scroll */
.nav-scroll {
  background-color: #458ff6;
}

.nav-logo-scroll {
  background-color: #fff;
  color: #458ff6;
}

.nav-title-scroll {
  color: #fff;
}

.nav-icon-scroll {
  color: #fff;
}

.nav-menu__link-scroll {
  color: #fff;
  opacity: 1;
}

.nav-menu__link-scroll:hover {
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

/* responsivness behavior */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
  /* navbar */
  .nav-menu {
    display: none;
  }
  .nav-icon {
    display: block;
    margin: auto 0;
  }
  .nav-icon-scroll {
    color: #fff;
  }
  label .active,
  label .cancel {
    cursor: pointer;
  }
  label .active {
    font-size: 20px;
  }
  label .cancel {
    font-size: 20px;
    display: none;
  }
  #check:checked ~ label .cancel {
    display: block;
  }
  #check:checked ~ label .active {
    display: none;
  }
  #check:checked ~ .nav-menu {
    display: flex;
    flex-direction: column;
    background-color: #f1f6ff;
    position: absolute;
    width: 100%;
    right: 0;
    top: 50px;
    align-items: center;
  }
  .nav-menu__item {
    display: block;
    text-align: center;
    min-width: 90%;
  }
  .nav-menu__link {
    display: block;
    width: 100%;
    color: #458ff6;
    opacity: 1;
    padding: 1rem 0;
  }
  .nav-menu__link:hover {
    color: #fff;
    background-color: #458ff6;
  }
  /* hero section */
  .hero-container {
    flex-direction: column;
  }
  .hero-container__text {
    width: 100%;
  }
  .hero-title {
    text-align: center;
  }
  .hero-description {
    text-align: center;
  }
  .hero-button {
    display: block;
    margin: 1rem auto;
  }
  .hero-img {
    width: 100%;
  }
  /* service section */
  .service-list {
    text-align: center;
    height: auto;
    margin: 2rem auto;
  }
  /* description section */
  .desc-container {
    flex-direction: column;
  }
  .desc-container__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .desc-img {
    width: 100%;
  }
  .desc-button {
    margin-bottom: 2.5rem;
  }
  /* testimonial section */
  .testimonial-container {
    font-size: 14px;
    height: auto;
  }
  .testimonial-container__content {
    flex-direction: column;
    text-align: center;
  }
  .testimonial-container__desc {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  /* article section */
  .article-container {
    font-size: 14px;
    height: auto;
    margin: auto;
  }
  .article-line {
    margin: 1rem auto;
  }
  .article-container__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .article-content {
    height: auto;
    margin-bottom: 2rem;
  }
  .article-link {
    margin: auto;
  }
  .article-container__link i {
    display: none;
  }
  .article-button {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  /* footer */
  footer {
    height: auto;
  }
  .footer-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .footer-list__title {
    width: 100%;
    text-align: center;
  }
  .footer-link {
    width: 100%;
    text-align: center;
  }
}
